#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Dash layout styles */

.main-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
}

.main-container > div {
  border: 1px solid #e0e0e0;
}

.history-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 4;
  height: 100%;
  padding: 0;
}

/* Dash Header */

.header {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  border: 1px solid #e0e0e0;
  height: 5vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.dash-content {
  display: flex;
  flex: 1;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #e0e0e0;
  color: black;
}

.footer {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  border: 1px solid #e0e0e0;
  height: 5vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.footer-text {
  margin: 0 auto;
}

/* History list */

.history-list-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 5px;
  margin: 5px;
}

/* Dash navigation */

.navigation-item {
  padding: 10px;
}