@use '@angular/material' as mat;

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
  color-scheme: light dark;
//   @include mat.theme((
//     color: mat.$violet-palette,
//     typography: Roboto,
//     density: 0
//   ));
}

:root {
    --background-color: #121212;
    --surface-color: #1E1E1E;
    --primary-color: #444; /* ciemne tło */
    --text-color: #E0E0E0;    /* ciemny tekst */
    --text-secondary-color: #B3B3B3;
    --history-background-color: #2a2a2a;

    // @include mat.form-field-overrides((
    //     filled-caret-color: orange,
    //     filled-focus-active-indicator-color: red,
    // ));
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

